body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header img {
    width: 200px;
    border-radius: 10%;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    background-color: #f0f0f0;
    padding: 10px;
    border-left: 5px solid #107BBF;
}
.section ul {
    list-style-type: none;
    padding: 0;
}
.section ul li {
    margin-bottom: 10px;
}